<!DOCTYPE html>
<html lang="pt">
<head>
  <%- include("partials/head") %>
</head>
<body>
  <%- include("partials/header") %>

  <div class="container main-content">
    <div class="form-container-tabs mx-auto">
      <h2 class="mb-4 text-center">Login</h2>
      <form action="/login" method="POST">
        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="seu@email.com" required>
        </div>

        <!-- Senha -->
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" name="password" id="password" class="form-control" placeholder="********" required>
        </div>

        <!-- Botão -->
        <button type="submit" class="btn btn-custom w-100">Entrar</button>
      </form>

      <div class="mt-4 text-center">
        <span class="text-muted">Não tem conta? <a href="/register" class="link-light">Registe-se</a></span>
      </div>
    </div>
  </div>

  <%- include("partials/footer") %>
</body>
</html>

